<h1>Cart</h1>
<div class="basket">
  {{#if courses.length}}
    
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Count</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          
          {{#each courses}}
          <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td>
              <button class="btn btm-small remove-course" data-id="{{id}}">Delete</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <p><strong>Price:</strong> <span class="price">{{price}}</span></p>

      <form action="/orders" method="POST">
        <button type="submit" class="btn">Make an order</button>
      </form>
  {{else}}
    <p>Cart empty</p>
  {{/if}}
</div>